:root{
    --bs-primary: #1ABC9C;
    --bs-secondary: #2C3E50;
    --bs-secondarylight: #3A546D;
    --bs-lighter: #FFFFFF;


}
















/* debug  */



.debug header .row{
    background-color: red;
    height: 300px;
}

.debug [class^="col"]{
    border: 2px solid black;
    height: 100px;
}

.debug .about{
    height: 500px;
}

/* #region header */

header .navbar{
    background-color: var(--bs-secondarylight);
}