:root{
    --bs-primary: #1ABC9C;
    --bs-secondary: #2C3E50;
    --bs-secondarylight: #3A546D;
    --bs-lighter: #FFFFFF;


}
















/* debug  */



.debug header .row{
    background-color: red;
    height: 300px;
}

.debug [class^="col"]{
    border: 2px solid black;
    height: 100px;
}

.debug .about{
    height: 500px;
}

/* #region header */

header .navbar{
    background-color: var(--bs-secondarylight);
}

/* #region main */

main .jumbo{
    background-color: var(--bs-primary);
}



main .jumbo .decoration .left_bar, main .jumbo .decoration .right_bar{
    height: 2px;
    border-radius: 2px;
    background-color: var(--bs-lighter);
    width: 10%;
}