:root{
    --bs-primary: #1ABC9C;
    --bs-secondary: #2C3E50;
    --bs-secondarylight: #3A546D;
    --bs-lighter: #FFFFFF;


}


img{
    max-width: 100%;
}


/* utiities */

.pb_6{
    padding-bottom: 6rem;
}

/* debug  */



.debug header .row{
    background-color: red;
    height: 300px;
}

.debug [class^="col"]{
    border: 2px solid black;
    height: 100px;
}

.debug .about{
    height: 500px;
}

/* #region header */

header .navbar{
    background-color: var(--bs-secondarylight);
}

/* #region main */

main .jumbo{
    background-color: var(--bs-primary);
}



main .jumbo .decoration .left_bar, main .jumbo .decoration .right_bar{
    height: 3px;
    border-radius: 2px;
    background-color: var(--bs-lighter);
    width: 10%;
}

main .portfolio .decoration .left_bar, main .portfolio .decoration .right_bar{
    height: 3px;
    border-radius: 2px;
    background-color: var(--bs-secondary);
    width: 10%;
}

main .about{
    background-color: var(--bs-primary);
}

main .about .decoration .left_bar, main .about .decoration .right_bar{
    height: 3px;
    border-radius: 2px;
    background-color: var(--bs-lighter);
    width: 10%;
}


main .contact .decoration .left_bar, main .contact .decoration .right_bar{
    height: 3px;
    border-radius: 2px;
    background-color: var(--bs-secondary);
    width: 10%;
}

main .contact .send{
    background-color: var(--bs-primary);
}





/* #region footer */

footer .footer_top{
    background-color: var(--bs-secondarylight);
}

footer .footer_top .buble{
    width: 40px;
    height: 40px;
    border: 1px solid var(--bs-lighter);
}

#made_by{
    text-decoration: none;
    color: var(--bs-primary);
}

footer .footer_top .row .col-12 .text_big{
    font-size: 20px;
}


footer .footer_bottom{
    background-color: var(--bs-secondary);
}

footer .footer_bottom .copyright{
    font-size: 10px;
}